html {
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
}

a {
    cursor: pointer;
}

h1, .h1 {
    letter-spacing: -2px;
}
h2, .h2 {
    letter-spacing: -1px;
}

$sidebar-width: 250px;

.gray-body {
    background: $gray-lightest;
}

// Page wrapper
.wrapper {
    height: inherit;
    overflow-x: hidden;
    min-width: 315px;

    @media (min-width: $screen-lg-min) {
        .inner {
            margin-left: 80px;
        }
    }

    &.nav-expanded .inner {
        left: $sidebar-width;
        position: relative;
        min-height: 100%;

        @media (min-width: $screen-lg-min) {
            margin-left: $sidebar-width;
            left: 0;
        }
        .navbar-nav-right {
          @media (max-width: $screen-lg-min) {
            display:none;
        }
      }

    }
}

// Side navigation
.global-nav {
    position: fixed;
    left: -$sidebar-width;
    top: 0;
    width: $sidebar-width;
    z-index: 100;
    background: $gray-lighter;
    height: 100%;
    padding-top: 83px;

    @media (min-width: $screen-lg-min) {
        width: 80px;
        left: 0;
    }

    .nav-expanded & {
        left: 0;
        width: $sidebar-width;
    }

    .global-nav-logo {
        position: absolute;
        left: 0;
        top: 0;
        height: 65px;
        width: 100%;
        z-index: 110;
        background: $brand-primary;
    }

    .global-nav-logo-img {
        background-image: url(/images/logo-white.png);
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 5%;
        left: 10%;
        width: 80%;
        height: 90%;

        @media (min-width: $screen-lg-min) {
            background-size: 50px;

            .nav-expanded & {
                background-size: auto;
            }
        }
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        overflow-y: auto;
        height: 100%;

        > li > ul {
            padding-top: 0;
            overflow-y: visible;
        }
    }

    .global-nav-item {
        padding: 1.2rem;
        display: block;
        color: $text-color;
        font-weight: 700;
        position: relative;
        text-decoration: none;
        opacity: .6;
        white-space: nowrap; // Stops text overflow when animatting width

        @media (min-width: $screen-lg-min) {
            text-indent: -9999em;

            .nav-expanded & {
                text-indent: 0;
            }
        }

        > i {
            font-size: 24px;
            margin: 0 15px 0 0;
            float: left;
            text-indent: 0;

            @media (min-width: $screen-lg-min) {
                margin: 0 0 0 8px;

                .nav-expanded & {
                    margin: 0 15px 0 0;
                }
            }
        }

        &:hover, &:focus, &.active {
            background: none;
            opacity: .85;
        }

        &.active {
            background: $white;
            opacity: 1;

            > i {
                color: $brand-primary-highlight;
            }
        }
    }

}

// Top navbar
.navbar-title {
    font-weight: 700;
    font-size: 18px;
}

.navbar-nav-right {
    > li > a {
        border-left: 1px solid $gray-light-trans;
    }
}

.navbar-logo-img {
    background-image: url(/images/logo-white.png);
    background-repeat: no-repeat;
    background-position: center;
    display: table;
    width: 101px;
    height: 34px;
    margin: 0 auto;
    top: 8px;
    position: relative;
}

.user-menu {
    > li {
        position: static;
    }
}

.icon-badge {
    position:relative;

    .badge {
        position: absolute;
        left: 50%;
        top: 5px;
        margin-left: -10px;
    }
}

.help-menu {
    @include clearfix();

    .navbar-nav > li > & {
        padding-top: 17px;
        padding-bottom: 17px;
    }

    > i {
        float: left;
        font-size: 30px;
    }
}

.account-menu {
    min-height: 64px; // Force height for mobile

    .media-object {
        max-width: 32px;
        margin-right: 1em;
        margin-top: -5px;

        @media (max-width: $screen-sm) {
            margin-right: 0;
        }
    }
}

.user-name {
    @include text-overflow();
    max-width: 100px;
    float: left;
    margin-right: 5px;

    @media (min-width: $screen-sm-min) {
        max-width: 142px; // Magic number so notification dropdown aligns
    }
}

.inner {
    @media (min-width: $screen-sm-min) {
        .container-fluid {
            padding-left: $padding-base * 1.5; // 30px
            padding-right: $padding-base * 1.5; // 30px
        }
    }
}

.page-header {
    .page-header-cta {
        float: none;
        margin-top: $padding-large-vertical;
        width: 100%;
        letter-spacing: 0;

        @media (min-width: $screen-xs-min) {
            float: right;
            margin-top: 0;
            width: auto;
        }
    }

    &.has-menu {
        border-bottom: 0;
        margin-bottom: 0;
    }
}

.meta {
    font-size: 14px;
}

.section-title {
    border-bottom: 2px solid $gray-lightest;
    padding: 0.5em 0;
}

.loading-input {
    position: relative;
    svg {
        position: absolute;
        top: 6px;
        right: 0;
        height: 25px;
    }
}
