--- # http://eslint.org/docs/rules/
env:
  node: true
  mocha: true

rules:
  # Possible Errors
  no-comma-dangle: 1
  no-cond-assign: 2
  no-debugger: 1
  no-dupe-keys: 2
  no-empty: 1
  no-empty-class: 2
  no-extra-boolean-cast: 2
  no-extra-semi: 2
  no-func-assign: 2
  no-invalid-regexp: 2
  no-negated-in-lhs: 2
  no-reserved-keys: 2
  no-unreachable: 2
  use-isnan: 2
  valid-jsdoc: [2, {"requireReturn": false, "requireParamDescription": false}]
  valid-typeof: 2

  # Best Practices
  block-scoped-var: 2
  default-case: 2
  eqeqeq: 2
  guard-for-in: 2
  no-eq-null: 2
  no-eval: 2
  no-extend-native: 2
  no-fallthrough: 2
  no-floating-decimal: 2
  no-implied-eval: 2
  no-lone-blocks: 2
  no-native-reassign: 2
  no-redeclare: 2
  no-self-compare: 2
  no-sequences: 2
  no-unused-expressions: 2
  no-warning-comments: 1
  radix: 2
  wrap-iife: 2

  # Strict Mode
  global-strict: [2, "always"]
  no-extra-strict: 2
  strict: 2

  # Variables
  no-shadow: 2
  no-shadow-restricted-names: 2
  no-undef: 2
  no-undefined: 2
  no-unused-vars: [2, {"vars": "all", "args": "none"}]
  no-use-before-define: 0

  # Node.js
  handle-callback-err: 2
  no-mixed-requires: 2
  no-new-require: 2
  no-path-concat: 2
  no-process-exit: 2
  no-sync: 2

  # Stylistic Issues
  brace-style: [2, "1tbs"]
  eol-last: 2
  key-spacing: 0
  new-cap: 2
  no-mixed-spaces-and-tabs: 2
  no-nested-ternary: 2
  no-space-before-semi: 2
  no-spaced-func: 2
  quotes: 0
  space-after-keywords: [2, "always"]
  space-before-blocks: 2
  space-unary-ops: 2
  spaced-line-comment: 0
