<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ returnName }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css" media="print">
/* print.css */

    </style>
</head>
<body>

<div class="container onlinetax">
    <div class="page-header">
        <h2>{{ returnName }}</h2>
    </div>
    <form class="form-horizontal onlinetax-form">
    {{#form.fields}}

        {{#ReportingParty_Identifiers_TaxFileNumber_Identifier}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Tax file number (TFN)</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_Identifiers_TaxFileNumber_Identifier}}

        {{#ReportingParty_Identifiers_AustralianBusinessNumber_Identifier}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Australian business number (ABN)</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_Identifiers_AustralianBusinessNumber_Identifier}}

        {{#Myob_ReportingParty_TrusteeSeniorPartner_Required}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Is the employer a trust or partnership?</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/Myob_ReportingParty_TrusteeSeniorPartner_Required}}

        {{#Myob_ReportingParty_TrusteeSeniorPartner_IndividualOrNonIndividual}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Is the trustee or senior partner an individual or non-individual?</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/Myob_ReportingParty_TrusteeSeniorPartner_IndividualOrNonIndividual}}

        {{#ReportingParty_TrusteeSeniorPartner_PersonNameDetails_Title_Text}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Title</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_TrusteeSeniorPartner_PersonNameDetails_Title_Text}}

        {{#ReportingParty_TrusteeSeniorPartner_PersonNameDetails_FamilyName_Text}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Family name</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_TrusteeSeniorPartner_PersonNameDetails_FamilyName_Text}}

        {{#ReportingParty_TrusteeSeniorPartner_PersonNameDetails_GivenName_Text}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>First given name</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_TrusteeSeniorPartner_PersonNameDetails_GivenName_Text}}

        {{#ReportingParty_TrusteeSeniorPartner_PersonNameDetails_OtherGivenName_Text}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Other given name/s</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_TrusteeSeniorPartner_PersonNameDetails_OtherGivenName_Text}}

        {{#ReportingParty_TrusteeSeniorPartner_PersonNameDetails_NameSuffix_Text}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Suffix</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_TrusteeSeniorPartner_PersonNameDetails_NameSuffix_Text}}

        {{#ReportingParty_TrusteeSeniorPartner_OrganisationNameDetails_OrganisationalName_Text}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Name of trustee or senior partner</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_TrusteeSeniorPartner_OrganisationNameDetails_OrganisationalName_Text}}

        {{#Myob_ReportingParty_Employer_IndividualOrNonIndividual}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Is the employer an individual or non-individual (company, partnership, trust etc)</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/Myob_ReportingParty_Employer_IndividualOrNonIndividual}}

        {{#ReportingParty_Employer_PersonNameDetails_Title_Text}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Title</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_Employer_PersonNameDetails_Title_Text}}

        {{#ReportingParty_Employer_PersonNameDetails_FamilyName_Text}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Family name</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_Employer_PersonNameDetails_FamilyName_Text}}

        {{#ReportingParty_Employer_PersonNameDetails_GivenName_Text}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>First given name</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_Employer_PersonNameDetails_GivenName_Text}}

        {{#ReportingParty_Employer_PersonNameDetails_OtherGivenName_Text}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Other given name/s</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_Employer_PersonNameDetails_OtherGivenName_Text}}

        {{#ReportingParty_Employer_PersonNameDetails_NameSuffix_Text}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Suffix</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_Employer_PersonNameDetails_NameSuffix_Text}}

        {{#ReportingParty_Employer_OrganisationNameDetails_OrganisationalName_Text}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Name of employer</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_Employer_OrganisationNameDetails_OrganisationalName_Text}}

        {{#ReportingParty_Employer_Postal_AddressDetails_Line1_Text}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Address line 1</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_Employer_Postal_AddressDetails_Line1_Text}}

        {{#ReportingParty_Employer_Postal_AddressDetails_Line2_Text}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Address line 2</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_Employer_Postal_AddressDetails_Line2_Text}}

        {{#ReportingParty_Employer_Postal_AddressDetails_Line3_Text}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Address line 3</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_Employer_Postal_AddressDetails_Line3_Text}}

        {{#ReportingParty_Employer_Postal_AddressDetails_Line4_Text}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Address line 4</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_Employer_Postal_AddressDetails_Line4_Text}}

        {{#ReportingParty_Employer_Postal_AddressDetails_LocalityName_Text}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Suburb/town/locality</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_Employer_Postal_AddressDetails_LocalityName_Text}}

        {{#ReportingParty_Employer_Postal_AddressDetails_StateOrTerritory_Code}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>State</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_Employer_Postal_AddressDetails_StateOrTerritory_Code}}

        {{#ReportingParty_Employer_Postal_AddressDetails_Postcode_Text}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Postcode</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_Employer_Postal_AddressDetails_Postcode_Text}}

        {{#ReportingParty_Employer_Postal_AddressDetails_OverseasAddress_Indicator}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Postal address - Overseas Indicator</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_Employer_Postal_AddressDetails_OverseasAddress_Indicator}}

        {{#ReportingParty_Employer_Postal_AddressDetails_CountryName_Text}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Country if outside Australia</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_Employer_Postal_AddressDetails_CountryName_Text}}

        {{#Myob_ReportingParty_Employer_Previous_Name_Required}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Has the employer name changed since the last FBT return?</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/Myob_ReportingParty_Employer_Previous_Name_Required}}

        {{#Myob_ReportingParty_Employer_Previous_IndividualOrNonIndividual}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Was the previous employer an individual or non-individual (company, partnership, trust etc)</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/Myob_ReportingParty_Employer_Previous_IndividualOrNonIndividual}}

        {{#ReportingParty_Employer_Previous_PersonNameDetails_Title_Text}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Title</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_Employer_Previous_PersonNameDetails_Title_Text}}

        {{#ReportingParty_Employer_Previous_PersonNameDetails_FamilyName_Text}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Family name</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_Employer_Previous_PersonNameDetails_FamilyName_Text}}

        {{#ReportingParty_Employer_Previous_PersonNameDetails_GivenName_Text}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>First given name</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_Employer_Previous_PersonNameDetails_GivenName_Text}}

        {{#ReportingParty_Employer_Previous_PersonNameDetails_OtherGivenName_Text}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Other given name/s</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_Employer_Previous_PersonNameDetails_OtherGivenName_Text}}

        {{#ReportingParty_Employer_Previous_PersonNameDetails_NameSuffix_Text}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Suffix</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_Employer_Previous_PersonNameDetails_NameSuffix_Text}}

        {{#ReportingParty_Employer_Previous_OrganisationNameDetails_OrganisationalName_Text}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Previous name</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_Employer_Previous_OrganisationNameDetails_OrganisationalName_Text}}

        {{#Myob_ReportingParty_Employer_Previous_Required}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Has the employer postal address changed since the last FBT return?</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/Myob_ReportingParty_Employer_Previous_Required}}

        {{#ReportingParty_Employer_Previous_AddressDetails_Line1_Text}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Address line 1</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_Employer_Previous_AddressDetails_Line1_Text}}

        {{#ReportingParty_Employer_Previous_AddressDetails_Line2_Text}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Address line 2</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_Employer_Previous_AddressDetails_Line2_Text}}

        {{#ReportingParty_Employer_Previous_AddressDetails_Line3_Text}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Address line 3</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_Employer_Previous_AddressDetails_Line3_Text}}

        {{#ReportingParty_Employer_Previous_AddressDetails_Line4_Text}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Address line 4</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_Employer_Previous_AddressDetails_Line4_Text}}

        {{#ReportingParty_Employer_Previous_AddressDetails_LocalityName_Text}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Suburb/town/locality</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_Employer_Previous_AddressDetails_LocalityName_Text}}

        {{#ReportingParty_Employer_Previous_AddressDetails_StateOrTerritory_Code}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>State</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_Employer_Previous_AddressDetails_StateOrTerritory_Code}}

        {{#ReportingParty_Employer_Previous_AddressDetails_Postcode_Text}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Postcode</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_Employer_Previous_AddressDetails_Postcode_Text}}

        {{#ReportingParty_Employer_Previous_AddressDetails_OverseasAddress_Indicator}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Previous postal address - Overseas Indicator</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_Employer_Previous_AddressDetails_OverseasAddress_Indicator}}

        {{#ReportingParty_Employer_Previous_AddressDetails_CountryName_Text}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Country if outside Australia</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_Employer_Previous_AddressDetails_CountryName_Text}}

        {{#Myob_ReportingParty_BusinessTradingName_Required}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Has the business/trading name changed since the last FBT return, or is this the first FBT return?</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/Myob_ReportingParty_BusinessTradingName_Required}}

        {{#ReportingParty_BusinessTradingName_OrganisationNameDetails_OrganisationalName_Text}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Business/trading name</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_BusinessTradingName_OrganisationNameDetails_OrganisationalName_Text}}

        {{#Myob_ReportingParty_BusinessTradingAddress_Required}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Has the business/trading address changed since the last FBT return, or is this the first FBT return?</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/Myob_ReportingParty_BusinessTradingAddress_Required}}

        {{#ReportingParty_BusinessTradingAddress_AddressDetails_Line1_Text}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Address line 1</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_BusinessTradingAddress_AddressDetails_Line1_Text}}

        {{#ReportingParty_BusinessTradingAddress_AddressDetails_Line2_Text}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Address line 2</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_BusinessTradingAddress_AddressDetails_Line2_Text}}

        {{#ReportingParty_BusinessTradingAddress_AddressDetails_Line3_Text}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Address line 3</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_BusinessTradingAddress_AddressDetails_Line3_Text}}

        {{#ReportingParty_BusinessTradingAddress_AddressDetails_Line4_Text}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Address line 4</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_BusinessTradingAddress_AddressDetails_Line4_Text}}

        {{#ReportingParty_BusinessTradingAddress_AddressDetails_LocalityName_Text}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Suburb/town/locality</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_BusinessTradingAddress_AddressDetails_LocalityName_Text}}

        {{#ReportingParty_BusinessTradingAddress_AddressDetails_StateOrTerritory_Code}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>State</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_BusinessTradingAddress_AddressDetails_StateOrTerritory_Code}}

        {{#ReportingParty_BusinessTradingAddress_AddressDetails_Postcode_Text}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Postcode</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_BusinessTradingAddress_AddressDetails_Postcode_Text}}

        {{#ReportingParty_BusinessTradingAddress_AddressDetails_OverseasAddress_Indicator}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Business/trading address - Overseas Indicator</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_BusinessTradingAddress_AddressDetails_OverseasAddress_Indicator}}

        {{#ReportingParty_BusinessTradingAddress_AddressDetails_CountryName_Text}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Country if outside Australia</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_BusinessTradingAddress_AddressDetails_CountryName_Text}}

        {{#Myob_ReportingParty_TrusteeSeniorPartner_Previous_Required}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Has the name of the trustee or senior partner changed since the last FBT return?</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/Myob_ReportingParty_TrusteeSeniorPartner_Previous_Required}}

        {{#Myob_ReportingParty_TrusteeSeniorPartner_Previous_IndividualOrNonIndividual}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Was the previous trustee or senior partner an individual or non-individual (company, partnership, trust etc)</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/Myob_ReportingParty_TrusteeSeniorPartner_Previous_IndividualOrNonIndividual}}

        {{#ReportingParty_TrusteeSeniorPartner_Previous_PersonNameDetails_Title_Text}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Title</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_TrusteeSeniorPartner_Previous_PersonNameDetails_Title_Text}}

        {{#ReportingParty_TrusteeSeniorPartner_Previous_PersonNameDetails_FamilyName_Text}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Family name</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_TrusteeSeniorPartner_Previous_PersonNameDetails_FamilyName_Text}}

        {{#ReportingParty_TrusteeSeniorPartner_Previous_PersonNameDetails_GivenName_Text}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>First given name</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_TrusteeSeniorPartner_Previous_PersonNameDetails_GivenName_Text}}

        {{#ReportingParty_TrusteeSeniorPartner_Previous_PersonNameDetails_OtherGivenName_Text}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Other given name/s</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_TrusteeSeniorPartner_Previous_PersonNameDetails_OtherGivenName_Text}}

        {{#ReportingParty_TrusteeSeniorPartner_Previous_PersonNameDetails_NameSuffix_Text}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Suffix</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_TrusteeSeniorPartner_Previous_PersonNameDetails_NameSuffix_Text}}

        {{#ReportingParty_TrusteeSeniorPartner_Previous_OrganisationNameDetails_OrganisationalName_Text}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Previous name of trustee or senior partner</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_TrusteeSeniorPartner_Previous_OrganisationNameDetails_OrganisationalName_Text}}

        {{#ReportingParty_Contact_Title_Text}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Title</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_Contact_Title_Text}}

        {{#ReportingParty_Contact_FamilyName_Text}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Family name</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_Contact_FamilyName_Text}}

        {{#ReportingParty_Contact_GivenName_Text}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>First given name</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_Contact_GivenName_Text}}

        {{#ReportingParty_Contact_OtherGivenName_Text}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Other given name/s</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_Contact_OtherGivenName_Text}}

        {{#ReportingParty_Contact_NameSuffix_Text}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Suffix</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_Contact_NameSuffix_Text}}

        {{#ReportingParty_ElectronicContact_Telephone_Area_Code}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Name of the person to contact - Daytime contact phone number - Area code</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_ElectronicContact_Telephone_Area_Code}}

        {{#ReportingParty_ElectronicContact_Telephone_Minimal_Number}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Name of the person to contact - Daytime contact phone number - Phone number</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_ElectronicContact_Telephone_Minimal_Number}}

        {{#ReportingParty_ElectronicContact_ElectronicMail_Address_Text}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Name of the person to contact - Email address</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_ElectronicContact_ElectronicMail_Address_Text}}

        {{#ReportingParty_Remuneration_FringeBenefits_Recipients_Count}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Number of employees receiving fringe benefits during the period 1 April 2014 to 31 March 2015</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_Remuneration_FringeBenefits_Recipients_Count}}

        {{#ReportingParty_Report_CompletionHours_Number}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Hours taken to prepare and complete this form</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_Report_CompletionHours_Number}}

        {{#ReportingParty_Lodgment_FinalReturn_Indicator}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Do you expect to lodge FBT return forms for future years?</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_Lodgment_FinalReturn_Indicator}}

        {{#ReportingParty_FinancialInstitutionAccount_BankStateBranch_Number}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>BSB</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_FinancialInstitutionAccount_BankStateBranch_Number}}

        {{#ReportingParty_FinancialInstitutionAccount_FinancialInstitutionAccount_Number}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Account number</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_FinancialInstitutionAccount_FinancialInstitutionAccount_Number}}

        {{#ReportingParty_FinancialInstitutionAccount_FinancialInstitutionAccountName_Text}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Account name</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_FinancialInstitutionAccount_FinancialInstitutionAccountName_Text}}

        {{#Myob_FringeBenefits_RebatableEmployer}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Are you a rebatable employer?</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/Myob_FringeBenefits_RebatableEmployer}}

        {{#Myob_FringeBenefits_PublicBenevolentInstitution}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Are you a hospital, ambulance, public benevolent institution, or health promotion charity?</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/Myob_FringeBenefits_PublicBenevolentInstitution}}

        {{#ReportingParty_Remuneration_FringeBenefits_Type1Aggregate_Amount}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Type 1 aggregate amount</label>
            </div>
            <div class="col-xs-5">

                <div>$ {{ value }}

                    <span style="text-decoration: line-through;">.00</span>

                </div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_Remuneration_FringeBenefits_Type1Aggregate_Amount}}

        {{#ReportingParty_FringeBenefitsTax_Type1Aggregate_Amount}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Type 1 taxable amount</label>
            </div>
            <div class="col-xs-5">

                <div>$ {{ value }}

                    <span style="text-decoration: line-through;">.00</span>

                </div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_FringeBenefitsTax_Type1Aggregate_Amount}}

        {{#ReportingParty_Remuneration_FringeBenefits_Type2Aggregate_Amount}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Type 2 aggregate amount</label>
            </div>
            <div class="col-xs-5">

                <div>$ {{ value }}

                    <span style="text-decoration: line-through;">.00</span>

                </div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_Remuneration_FringeBenefits_Type2Aggregate_Amount}}

        {{#ReportingParty_FringeBenefitsTax_Type2Aggregate_Amount}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Type 2 taxable amount</label>
            </div>
            <div class="col-xs-5">

                <div>$ {{ value }}

                    <span style="text-decoration: line-through;">.00</span>

                </div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_FringeBenefitsTax_Type2Aggregate_Amount}}

        {{#ReportingParty_Remuneration_FringeBenefits_AggregateNonExempt_Amount}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Aggregate non-exempt amount</label>
            </div>
            <div class="col-xs-5">

                <div>$ {{ value }}

                    <span style="text-decoration: line-through;">.00</span>

                </div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_Remuneration_FringeBenefits_AggregateNonExempt_Amount}}

        {{#ReportingParty_Remuneration_FringeBenefits_TaxableTotal_Amount}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Fringe benefits taxable amount</label>
            </div>
            <div class="col-xs-5">

                <div>$ {{ value }}

                    <span style="text-decoration: line-through;">.00</span>

                </div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_Remuneration_FringeBenefits_TaxableTotal_Amount}}

        {{#ReportingParty_FringeBenefitsTax_Payable_Amount}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Amount of tax payable</label>
            </div>
            <div class="col-xs-5">

                <div>$ {{ value }}

                </div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_FringeBenefitsTax_Payable_Amount}}

        {{#ReportingParty_FringeBenefitsTax_NonRebatableAggregate_Amount}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Aggregate non-rebatable amount</label>
            </div>
            <div class="col-xs-5">

                <div>$ {{ value }}

                </div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_FringeBenefitsTax_NonRebatableAggregate_Amount}}

        {{#ReportingParty_FringeBenefitsTax_Rebate_Amount}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Amount of rebate</label>
            </div>
            <div class="col-xs-5">

                <div>$ {{ value }}

                </div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_FringeBenefitsTax_Rebate_Amount}}

        {{#ReportingParty_FringeBenefitsTax_Liability_Amount}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Sub-total</label>
            </div>
            <div class="col-xs-5">

                <div>$ {{ value }}

                </div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_FringeBenefitsTax_Liability_Amount}}

        {{#ReportingParty_FringeBenefitsTax_LiabilityInstalmentsTotal_Amount}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Less instalment amounts reported on activity statements</label>
            </div>
            <div class="col-xs-5">

                <div>$ {{ value }}

                    <span style="text-decoration: line-through;">.00</span>

                </div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_FringeBenefitsTax_LiabilityInstalmentsTotal_Amount}}

        {{#ReportingParty_FringeBenefitsTax_AdjustmentDue_Amount}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Payment due (if positive) or Credit due to you (if negative)</label>
            </div>
            <div class="col-xs-5">

                <div>$ {{ value }}

                </div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_FringeBenefitsTax_AdjustmentDue_Amount}}

        {{#ReportingParty_CarsStatutoryFormula_Remuneration_FringeBenefits_ItemsProvided_Number}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Cars using the statutory formula: Number</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_CarsStatutoryFormula_Remuneration_FringeBenefits_ItemsProvided_Number}}

        {{#ReportingParty_CarsStatutoryFormula_Remuneration_FringeBenefits_BenefitGrossTaxable_Amount}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Cars using the statutory formula: Gross taxable value</label>
            </div>
            <div class="col-xs-5">

                <div>$ {{ value }}

                    <span style="text-decoration: line-through;">.00</span>

                </div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_CarsStatutoryFormula_Remuneration_FringeBenefits_BenefitGrossTaxable_Amount}}

        {{#ReportingParty_CarsStatutoryFormula_Remuneration_FringeBenefits_EmployeeContribution_Amount}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Cars using the statutory formula: Employee contribution</label>
            </div>
            <div class="col-xs-5">

                <div>$ {{ value }}

                    <span style="text-decoration: line-through;">.00</span>

                </div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_CarsStatutoryFormula_Remuneration_FringeBenefits_EmployeeContribution_Amount}}

        {{#ReportingParty_CarsStatutoryFormula_Remuneration_FringeBenefits_BenefitNetTaxable_Amount}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Cars using the statutory formula: Taxable value of benefits</label>
            </div>
            <div class="col-xs-5">

                <div>$ {{ value }}

                    <span style="text-decoration: line-through;">.00</span>

                </div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_CarsStatutoryFormula_Remuneration_FringeBenefits_BenefitNetTaxable_Amount}}

        {{#ReportingParty_CarsOperatingCost_Remuneration_FringeBenefits_ItemsProvided_Number}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Cars using the operating cost method: Number</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_CarsOperatingCost_Remuneration_FringeBenefits_ItemsProvided_Number}}

        {{#ReportingParty_CarsOperatingCost_Remuneration_FringeBenefits_BenefitGrossTaxable_Amount}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Cars using the operating cost method: Gross taxable value</label>
            </div>
            <div class="col-xs-5">

                <div>$ {{ value }}

                    <span style="text-decoration: line-through;">.00</span>

                </div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_CarsOperatingCost_Remuneration_FringeBenefits_BenefitGrossTaxable_Amount}}

        {{#ReportingParty_CarsOperatingCost_Remuneration_FringeBenefits_EmployeeContribution_Amount}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Cars using the operating cost method: Employee contribution</label>
            </div>
            <div class="col-xs-5">

                <div>$ {{ value }}

                    <span style="text-decoration: line-through;">.00</span>

                </div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_CarsOperatingCost_Remuneration_FringeBenefits_EmployeeContribution_Amount}}

        {{#ReportingParty_CarsOperatingCost_Remuneration_FringeBenefits_BenefitNetTaxable_Amount}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Cars using the operating cost method: Taxable value of benefits</label>
            </div>
            <div class="col-xs-5">

                <div>$ {{ value }}

                    <span style="text-decoration: line-through;">.00</span>

                </div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_CarsOperatingCost_Remuneration_FringeBenefits_BenefitNetTaxable_Amount}}

        {{#ReportingParty_LoansGranted_Remuneration_FringeBenefits_ItemsProvided_Number}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Loans granted: Number</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_LoansGranted_Remuneration_FringeBenefits_ItemsProvided_Number}}

        {{#ReportingParty_LoansGranted_Remuneration_FringeBenefits_BenefitGrossTaxable_Amount}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Loans granted: Gross taxable value</label>
            </div>
            <div class="col-xs-5">

                <div>$ {{ value }}

                    <span style="text-decoration: line-through;">.00</span>

                </div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_LoansGranted_Remuneration_FringeBenefits_BenefitGrossTaxable_Amount}}

        {{#ReportingParty_LoansGranted_Remuneration_FringeBenefits_Reduction_Amount}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Loans granted: Value of reductions</label>
            </div>
            <div class="col-xs-5">

                <div>$ {{ value }}

                    <span style="text-decoration: line-through;">.00</span>

                </div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_LoansGranted_Remuneration_FringeBenefits_Reduction_Amount}}

        {{#ReportingParty_LoansGranted_Remuneration_FringeBenefits_BenefitNetTaxable_Amount}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Loans granted: Taxable value of benefits</label>
            </div>
            <div class="col-xs-5">

                <div>$ {{ value }}

                    <span style="text-decoration: line-through;">.00</span>

                </div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_LoansGranted_Remuneration_FringeBenefits_BenefitNetTaxable_Amount}}

        {{#ReportingParty_DebtWaiver_Remuneration_FringeBenefits_BenefitGrossTaxable_Amount}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Debt waiver: Gross taxable value</label>
            </div>
            <div class="col-xs-5">

                <div>$ {{ value }}

                    <span style="text-decoration: line-through;">.00</span>

                </div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_DebtWaiver_Remuneration_FringeBenefits_BenefitGrossTaxable_Amount}}

        {{#ReportingParty_DebtWaiver_Remuneration_FringeBenefits_BenefitNetTaxable_Amount}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Debt waiver: Taxable value of benefits</label>
            </div>
            <div class="col-xs-5">

                <div>$ {{ value }}

                    <span style="text-decoration: line-through;">.00</span>

                </div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_DebtWaiver_Remuneration_FringeBenefits_BenefitNetTaxable_Amount}}

        {{#ReportingParty_ExpensePayment_Remuneration_FringeBenefits_BenefitGrossTaxable_Amount}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Expense payments: Gross taxable value</label>
            </div>
            <div class="col-xs-5">

                <div>$ {{ value }}

                    <span style="text-decoration: line-through;">.00</span>

                </div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_ExpensePayment_Remuneration_FringeBenefits_BenefitGrossTaxable_Amount}}

        {{#ReportingParty_ExpensePayment_Remuneration_FringeBenefits_EmployeeContribution_Amount}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Expense payments: Employee contribution</label>
            </div>
            <div class="col-xs-5">

                <div>$ {{ value }}

                    <span style="text-decoration: line-through;">.00</span>

                </div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_ExpensePayment_Remuneration_FringeBenefits_EmployeeContribution_Amount}}

        {{#ReportingParty_ExpensePayment_Remuneration_FringeBenefits_Reduction_Amount}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Expense payments: Value of reductions</label>
            </div>
            <div class="col-xs-5">

                <div>$ {{ value }}

                    <span style="text-decoration: line-through;">.00</span>

                </div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_ExpensePayment_Remuneration_FringeBenefits_Reduction_Amount}}

        {{#ReportingParty_ExpensePayment_Remuneration_FringeBenefits_BenefitNetTaxable_Amount}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Expense payments: Taxable value of benefits</label>
            </div>
            <div class="col-xs-5">

                <div>$ {{ value }}

                    <span style="text-decoration: line-through;">.00</span>

                </div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_ExpensePayment_Remuneration_FringeBenefits_BenefitNetTaxable_Amount}}

        {{#ReportingParty_Housing_Remuneration_FringeBenefits_ItemsProvided_Number}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Housing: Number</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_Housing_Remuneration_FringeBenefits_ItemsProvided_Number}}

        {{#ReportingParty_Housing_Remuneration_FringeBenefits_BenefitGrossTaxable_Amount}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Housing: Gross taxable value</label>
            </div>
            <div class="col-xs-5">

                <div>$ {{ value }}

                    <span style="text-decoration: line-through;">.00</span>

                </div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_Housing_Remuneration_FringeBenefits_BenefitGrossTaxable_Amount}}

        {{#ReportingParty_Housing_Remuneration_FringeBenefits_EmployeeContribution_Amount}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Housing: Employee contribution</label>
            </div>
            <div class="col-xs-5">

                <div>$ {{ value }}

                    <span style="text-decoration: line-through;">.00</span>

                </div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_Housing_Remuneration_FringeBenefits_EmployeeContribution_Amount}}

        {{#ReportingParty_Housing_Remuneration_FringeBenefits_BenefitNetTaxable_Amount}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Housing: Taxable value of benefits</label>
            </div>
            <div class="col-xs-5">

                <div>$ {{ value }}

                    <span style="text-decoration: line-through;">.00</span>

                </div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_Housing_Remuneration_FringeBenefits_BenefitNetTaxable_Amount}}

        {{#ReportingParty_EmployeeReceiving_Remuneration_FringeBenefits_ItemsProvided_Number}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Employees receiving living-away-from-home allowance: Number</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_EmployeeReceiving_Remuneration_FringeBenefits_ItemsProvided_Number}}

        {{#ReportingParty_EmployeeReceiving_Remuneration_FringeBenefits_BenefitGrossTaxable_Amount}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Employees receiving living-away-from-home allowance: Gross taxable value</label>
            </div>
            <div class="col-xs-5">

                <div>$ {{ value }}

                    <span style="text-decoration: line-through;">.00</span>

                </div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_EmployeeReceiving_Remuneration_FringeBenefits_BenefitGrossTaxable_Amount}}

        {{#ReportingParty_EmployeeReceiving_Remuneration_FringeBenefits_Reduction_Amount}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Employees receiving living-away-from-home allowance: Value of reductions</label>
            </div>
            <div class="col-xs-5">

                <div>$ {{ value }}

                    <span style="text-decoration: line-through;">.00</span>

                </div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_EmployeeReceiving_Remuneration_FringeBenefits_Reduction_Amount}}

        {{#ReportingParty_EmployeeReceiving_Remuneration_FringeBenefits_BenefitNetTaxable_Amount}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Employees receiving living-away-from-home allowance: Taxable value of benefits</label>
            </div>
            <div class="col-xs-5">

                <div>$ {{ value }}

                    <span style="text-decoration: line-through;">.00</span>

                </div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_EmployeeReceiving_Remuneration_FringeBenefits_BenefitNetTaxable_Amount}}

        {{#ReportingParty_Board_Remuneration_FringeBenefits_BenefitGrossTaxable_Amount}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Board: Gross taxable value</label>
            </div>
            <div class="col-xs-5">

                <div>$ {{ value }}

                    <span style="text-decoration: line-through;">.00</span>

                </div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_Board_Remuneration_FringeBenefits_BenefitGrossTaxable_Amount}}

        {{#ReportingParty_Board_Remuneration_FringeBenefits_EmployeeContribution_Amount}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Board: Employee contribution</label>
            </div>
            <div class="col-xs-5">

                <div>$ {{ value }}

                    <span style="text-decoration: line-through;">.00</span>

                </div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_Board_Remuneration_FringeBenefits_EmployeeContribution_Amount}}

        {{#ReportingParty_Board_Remuneration_FringeBenefits_Reduction_Amount}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Board: Value of reductions</label>
            </div>
            <div class="col-xs-5">

                <div>$ {{ value }}

                    <span style="text-decoration: line-through;">.00</span>

                </div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_Board_Remuneration_FringeBenefits_Reduction_Amount}}

        {{#ReportingParty_Board_Remuneration_FringeBenefits_BenefitNetTaxable_Amount}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Board: Taxable value of benefits</label>
            </div>
            <div class="col-xs-5">

                <div>$ {{ value }}

                    <span style="text-decoration: line-through;">.00</span>

                </div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_Board_Remuneration_FringeBenefits_BenefitNetTaxable_Amount}}

        {{#ReportingParty_Property_Remuneration_FringeBenefits_BenefitGrossTaxable_Amount}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Property: Gross taxable value</label>
            </div>
            <div class="col-xs-5">

                <div>$ {{ value }}

                    <span style="text-decoration: line-through;">.00</span>

                </div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_Property_Remuneration_FringeBenefits_BenefitGrossTaxable_Amount}}

        {{#ReportingParty_Property_Remuneration_FringeBenefits_EmployeeContribution_Amount}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Property: Employee contribution</label>
            </div>
            <div class="col-xs-5">

                <div>$ {{ value }}

                    <span style="text-decoration: line-through;">.00</span>

                </div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_Property_Remuneration_FringeBenefits_EmployeeContribution_Amount}}

        {{#ReportingParty_Property_Remuneration_FringeBenefits_Reduction_Amount}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Property: Value of reductions</label>
            </div>
            <div class="col-xs-5">

                <div>$ {{ value }}

                    <span style="text-decoration: line-through;">.00</span>

                </div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_Property_Remuneration_FringeBenefits_Reduction_Amount}}

        {{#ReportingParty_Property_Remuneration_FringeBenefits_BenefitNetTaxable_Amount}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Property: Taxable value of benefits</label>
            </div>
            <div class="col-xs-5">

                <div>$ {{ value }}

                    <span style="text-decoration: line-through;">.00</span>

                </div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_Property_Remuneration_FringeBenefits_BenefitNetTaxable_Amount}}

        {{#ReportingParty_IncomeTaxExempt_Remuneration_FringeBenefits_BenefitGrossTaxable_Amount}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Income tax exempt body - entertainment: Gross taxable value</label>
            </div>
            <div class="col-xs-5">

                <div>$ {{ value }}

                    <span style="text-decoration: line-through;">.00</span>

                </div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_IncomeTaxExempt_Remuneration_FringeBenefits_BenefitGrossTaxable_Amount}}

        {{#ReportingParty_IncomeTaxExempt_Remuneration_FringeBenefits_BenefitNetTaxable_Amount}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Income tax exempt body - entertainment: Taxable value of benefits</label>
            </div>
            <div class="col-xs-5">

                <div>$ {{ value }}

                    <span style="text-decoration: line-through;">.00</span>

                </div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_IncomeTaxExempt_Remuneration_FringeBenefits_BenefitNetTaxable_Amount}}

        {{#ReportingParty_OtherBenefits_Remuneration_FringeBenefits_BenefitGrossTaxable_Amount}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Other benefits (residual): Gross taxable value</label>
            </div>
            <div class="col-xs-5">

                <div>$ {{ value }}

                    <span style="text-decoration: line-through;">.00</span>

                </div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_OtherBenefits_Remuneration_FringeBenefits_BenefitGrossTaxable_Amount}}

        {{#ReportingParty_OtherBenefits_Remuneration_FringeBenefits_EmployeeContribution_Amount}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Other benefits (residual): Employee contribution</label>
            </div>
            <div class="col-xs-5">

                <div>$ {{ value }}

                    <span style="text-decoration: line-through;">.00</span>

                </div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_OtherBenefits_Remuneration_FringeBenefits_EmployeeContribution_Amount}}

        {{#ReportingParty_OtherBenefits_Remuneration_FringeBenefits_Reduction_Amount}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Other benefits (residual): Value of reductions</label>
            </div>
            <div class="col-xs-5">

                <div>$ {{ value }}

                    <span style="text-decoration: line-through;">.00</span>

                </div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_OtherBenefits_Remuneration_FringeBenefits_Reduction_Amount}}

        {{#ReportingParty_OtherBenefits_Remuneration_FringeBenefits_BenefitNetTaxable_Amount}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Other benefits (residual): Taxable value of benefits</label>
            </div>
            <div class="col-xs-5">

                <div>$ {{ value }}

                    <span style="text-decoration: line-through;">.00</span>

                </div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_OtherBenefits_Remuneration_FringeBenefits_BenefitNetTaxable_Amount}}

        {{#ReportingParty_CarParking_Remuneration_FringeBenefits_BenefitGrossTaxable_Amount}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Car parking: Gross taxable value</label>
            </div>
            <div class="col-xs-5">

                <div>$ {{ value }}

                    <span style="text-decoration: line-through;">.00</span>

                </div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_CarParking_Remuneration_FringeBenefits_BenefitGrossTaxable_Amount}}

        {{#ReportingParty_CarParking_Remuneration_FringeBenefits_EmployeeContribution_Amount}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Car parking: Employee contribution</label>
            </div>
            <div class="col-xs-5">

                <div>$ {{ value }}

                    <span style="text-decoration: line-through;">.00</span>

                </div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_CarParking_Remuneration_FringeBenefits_EmployeeContribution_Amount}}

        {{#ReportingParty_CarParking_Remuneration_FringeBenefits_BenefitNetTaxable_Amount}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Car parking: Taxable value of benefits</label>
            </div>
            <div class="col-xs-5">

                <div>$ {{ value }}

                    <span style="text-decoration: line-through;">.00</span>

                </div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_CarParking_Remuneration_FringeBenefits_BenefitNetTaxable_Amount}}

        {{#ReportingParty_MealEntertainment_Remuneration_FringeBenefits_BenefitGrossTaxable_Amount}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Meal entertainment: Gross taxable value</label>
            </div>
            <div class="col-xs-5">

                <div>$ {{ value }}

                    <span style="text-decoration: line-through;">.00</span>

                </div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_MealEntertainment_Remuneration_FringeBenefits_BenefitGrossTaxable_Amount}}

        {{#ReportingParty_MealEntertainment_Remuneration_FringeBenefits_BenefitNetTaxable_Amount}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Meal entertainment: Taxable value of benefits</label>
            </div>
            <div class="col-xs-5">

                <div>$ {{ value }}

                    <span style="text-decoration: line-through;">.00</span>

                </div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_MealEntertainment_Remuneration_FringeBenefits_BenefitNetTaxable_Amount}}

        {{#Intermediary_Abn}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Tax agent ABN</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/Intermediary_Abn}}

        {{#Intermediary_PersonUnstructuredName_FullName_Text}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Tax agent's declaration - Name of tax agent</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/Intermediary_PersonUnstructuredName_FullName_Text}}

        {{#Intermediary_Identifiers_TaxAgentNumber_Identifier}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Tax agent's declaration - Tax agent registration number</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/Intermediary_Identifiers_TaxAgentNumber_Identifier}}

        {{#Intermediary_Declaration_SignatoryIdentifier_Text}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Tax agent's declaration - Signature of tax agent</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/Intermediary_Declaration_SignatoryIdentifier_Text}}

        {{#Intermediary_ElectronicContact_Telephone_Area_Code}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Tax agent's declaration - Tax agent phone number - Area code</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/Intermediary_ElectronicContact_Telephone_Area_Code}}

        {{#Intermediary_ElectronicContact_Telephone_Minimal_Number}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Tax agent's declaration - Tax agent phone number - Phone number</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/Intermediary_ElectronicContact_Telephone_Minimal_Number}}

        {{#Intermediary_Identifiers_TaxAgentClientReference_Text}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Tax agent's declaration - Tax agent client reference</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/Intermediary_Identifiers_TaxAgentClientReference_Text}}

        {{#ReportingParty_Declaration_SignatoryIdentifier_Text}}
        <div class="form-group {{#disabled}}hide{{/disabled}} {{#errors}}has-error{{/errors}}">

            <div class="col-xs-4 text-right">
                <label>Employer's declaration - Signature of employer</label>
            </div>
            <div class="col-xs-5">

                <div>{{ value }}</div>


                {{#errors}}
                <p>{{ message }}</p>
                {{/errors}}

            </div>
        </div>
        {{/ReportingParty_Declaration_SignatoryIdentifier_Text}}

    {{/form.fields}}
    </form>
</div>

</body>
</html>
